champion-row {
  .center-horizontal {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: 500px;
    height: 100%;
  }

  .center-inner {
    display: block;
    margin: 0 auto;
  }

  .center-outer {
    text-align: center;
  }
}
