<ion-grid style="padding: 0px !important;">
  <ion-row class="center-horizontal">
    <ion-col *ngFor="let pick of picks" (click)="championClicked(pick)" class="center-outer" col-sm-2>
      <ion-row class="center-inner">
        <ion-item>
          <ion-avatar width="50" height="50">
            <!-- ion-img not working with avatar, if laggy use ion-img for performance -->
            <!--<ion-img width="50" height="50" src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{pick.champion.key}}.png"></ion-img>-->
            <img width="50" height="50" src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{pick.champion.key}}.png">
          </ion-avatar>
        </ion-item>
      </ion-row>
      <ion-row *ngIf="showName" class="center-inner">
        {{ pick.champion.name }}
      </ion-row>
      <ion-row *ngIf="pick.winRate >= 60" class="center-inner" style="color: #32db64">
        {{ pick.winRate }}%
      </ion-row>
      <ion-row *ngIf="pick.winRate < 60 && pick.winRate > 40" class="center-inner" style="color: #B8860B">
        {{ pick.winRate }}%
      </ion-row>
      <ion-row *ngIf="pick.winRate <= 40" class="center-inner" style="color: #f53d3d">
        {{ pick.winRate }}%
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
